# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.pyc
.coverage

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
*.swp
*.swo

# Dev container
.devcontainer/

# Plots / outputs
*.png
*.pdf
